.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;
  margin-bottom: 20px;
}
